name: Tests

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install swipl
        run: |
          sudo apt-add-repository "ppa:swi-prolog/stable"
          sudo apt-get update
          sudo apt-get install swi-prolog-nox
        # Can be found on: https://github.com/terminusdb-labs/swipl-lint/
      - name: Run linter
        run: |
          swipl pl_lint.pl > output.txt
          grep output.txt 'member/2'
          grep output.txt 'nonExistingPredicate'
